input {
  width: 100%;
  height: 100px;
  padding: 20px;
  font-size: 20px;
  border: none;
}

.keyboardContainer {
  max-width: 1000px;
}

.simple-keyboard.hg-theme-default {
  height: 330px;
}

.simple-keyboard.hg-theme-default .hg-button {
  height: 60px;
}
